{% extends 'general/base.html' %}
<!--TITULO-->
{% block title %}Detalles {{vehiculo}}{% endblock %}
<!--CONTENIDO-->
{%block content%}

<h1>{{vehiculo}}</h1>
<table class="table">
  <tr>
    <td>ID</td>
    <td>{{vehiculo.id}}</td>
  </tr>
  <tr>
    <td>Modelos</td>
    <td>{{vehiculo.modelo}}</td>
  </tr>
  <tr>
    <td>Patente</td>
    <td>{{vehiculo.patente}}</td>
  </tr>
  <tr>
    <td>Transmisión</td>
    <td>{{vehiculo.get_transmision_display}}</td>
  </tr>
  <tr>
    <td>Estado</td>
    <td>{{vehiculo.get_estado_display}}</td>
  </tr>
</table>
<a href="{% url 'clases:vehiculo_list' %}" class="btn btn-dark"
  ><i class="fa-solid fa-reply"></i> Volver a vehiculos</a
>
<a href="{% url 'clases:vehiculo_edit' vehiculo.id %}" class="btn btn-dark"
  ><i class="fa-solid fa-pen"></i> Editar</a
>
<a href="{% url 'clases:vehiculo_delete' vehiculo.id %}" class="btn btn-danger"
  ><i class="fa-solid fa-trash"></i> Eliminar</a
>

{%endblock%}
