{% extends 'general/base.html'%}

<!-- TITULO -->
{% block title %}Privado - DriveSafe{% endblock %}

<!-- CONTENIDO -->
{% block content%}

<h1>DriveSafe</h1>
<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quasi, enim? Libero,
  cupiditate praesentium tempora fugiat est quod, numquam corporis architecto
  velit quaerat voluptate corrupti voluptatibus saepe non impedit, placeat
  dolorem.
</p>
<table class="table">
  <thead>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    {% for recipe in recipes %}
    <tr>
      <td>{{recipe.id}}</td>
      <td>{{recipe.name}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
