{% extends 'general/base.html' %}
<!--TITULO-->
{% block title %}Detalles {{detalle_clase}}{% endblock %}
<!--CONTENIDO-->
{%block content%}

<h1>Información de la clase {{detalle_clase}}</h1>
<table class="table">
  <tr>
    <td>ID</td>
    <td>{{detalle_clase.id}}</td>
  </tr>
  <tr>
    <td>Clase</td>
    <td>{{detalle_clase.clase}}</td>
  </tr>
  <tr>
    <td>Alumno</td>
    <td>{{detalle_clase.alumno}}</td>
  </tr>
    <td>Instructor</td>
    <td>{{detalle_clase.instructor|default_if_none:""}}</td>
  </tr>
</tr>
  <td>Vehículo</td>
  <td>{{detalle_clase.vehiculo|default_if_none:""}}</td>
</tr>
</tr>
  <td>Fecha</td>
  <td>{{detalle_clase.fecha|default_if_none:""}}</td>
</tr>
</tr>
  <td>Hora</td>
  <td>{{detalle_clase.hora|default_if_none:""}}</td>
</tr>
</tr>
  <td>Estado</td>
  <td>{{detalle_clase.get_estado_display}}</td>
</tr>
</tr>
  <td>Resultado</td>
  <td>{{detalle_clase.resultado|default_if_none:""}}</td>
</tr>
</table>
<a href="{% url 'clases:detalle_clase_list' %}" class="btn btn-dark"
  ><i class="fa-solid fa-reply"></i> Volver a clases</a
>
{% if user.is_superuser %}
<a href="{% url 'clases:detalle_clase_edit' detalle_clase.id %}" class="btn btn-dark"
  ><i class="fa-solid fa-pen"></i> Editar</a
>
<a href="{% url 'clases:detalle_clase_delete' detalle_clase.id %}" class="btn btn-danger"
  ><i class="fa-solid fa-trash"></i> Eliminar</a
>
{% endif %}

{%endblock%}
