{% extends 'base.html' %}

<!-- TITULO -->
{% block title %}Pre- Inscripciones{% endblock %}

<!-- CONTENIDO -->
{% block content%} {% load crispy_forms_tags %}
<div class="container">
  <!-- MENSAJES -->
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </ul>
  {% endif %}

  <h1 class="text-center">Inscripciones</h1>
  <form method="POST">
    <!-- TOKEN -->
    {% csrf_token %}
    <!-- FORMULARIO -->
    {{alumno_form|crispy}}
    <button type="submit" class="btn btn-primary">
      <span class="fa-solid fa-clipboard"></span> Inscribirse
    </button>
  </form>
</div>
{% endblock %}
