{% extends 'base.html' %}
<!-- CARGAR CONTENIDO -->
{% load static %} {% block content %}
<div class="container">
  <h1 class="mt-3">Nosotros</h1>
  <img src="{% static 'img/4.jpg' %}" alt="" class="w-100" />
  <p class="m-3">
    <b
      >APROBADA POR EL MINISTERIO DE TRANSPORTE Y TELECOMUNICACIONES, BAJO
      RESOLUCIÓN EXENTA 1685 DEL 30/12/2004.</b
    >
    Con 19 años de experiencia formando Conductores, nos caracterizamos por
    brindar un servicio que se adapta a las necesidades de los usuarios. Por
    esta razón, ofrecemos cursos para la obtención de la Licencia de Conducir,
    con Instructores Calificados por Carabineros de Chile y carné SEMEP. con
    clases personalizadas en vehículos con doble comando.
  </p>
  <p class="m-3">
    Formamos conductores No profesionales y Profesionales con futura ampliación
    en categorías generales a nivel nacional, Disponemos un método moderno de
    impartir lo teórico, entregamos a nuestros alumnos, flexibilidad de estudio,
    nuestra modalidad E-Learning llamadas Asincronica y Sincrónica, ha generado
    un gran impacto de evolución, aceptación por parte de nuestros alumnos,
    incluyendo clases prácticas presenciales de conducción y certificación
    profesional, actualmente presentamos 3 sedes físicas, La Serena, Providencia
    y Viña del Mar.
  </p>
</div>

{%endblock%}
